*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(1, 0, 0);
}
.products-template{
    display: inline-block;
    width: 25%;
    background-color: transparent;
}
.login-div{
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}
.logo-img{
    width: 50px;
}

.signup-link,
.login-link,
.logout-link,
.index-link{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.logout-link:hover{
    color: red;
}
.signup-link:hover,
.login-link:hover{
    color: green;
}
.index-link:hover{
    color: orange;
}

.index-link{
    margin-right: 4vw;
}
.login-link{
    margin-right: 4vw;
}
.signup-link,
.index-link,
.login-link,
.logout-link{
    background-color: transparent;
}


/*Main tamplate start*/
.main-div{
    margin-top: 50px;
}
.main-h1{
    font-size: 30px;
    color: gray;
}
.main-info-section{
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
}
.main-info-pic{
    z-index: 1;
    background-image: url("../assets/img/main-screen-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}
.main-info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    background-image: linear-gradient(rgb(1, 0, 0) 1%, transparent , transparent, transparent);
    width: 100%;
    height: 100%;
}
.main-info-line{
    height: 50%;
    width: 5px;
    border-radius: 20px;
    background: orange;
}
.main-info-p-first{
    width: 70%;
    text-align: center;
    color: white;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
}
.main-info-p-second{
    width: 70%;
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}
/*Main tamplate end*/


/*Products tamplate start*/
.products-template{
    width: 30%;
    padding: 10px;
}
.products-template-div{
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    transition: 1s;

}
.products-template-div:hover{
    background-color: rgba(255, 166, 0, 0.548);
    transition: 1s;
}
.products-template-img{
    border-radius: 10px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit:cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.category-section-header{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.all-product-btn{
    color: green;
}
.products-category-btn{
    width: 100%;
}
.products-category-btn:hover{
    color: white;
    box-shadow: none;
}
.products-template-h3{
    font-size: 1.5vw;
    color: white;
}
.products-category-section{
    width: 25%;
}
.products-section{
    width: 75%;
    text-align: center;
}
::placeholder { 
    color: rgba(255, 255, 255, 0.486);
  }
.product-offer-input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
  border-bottom: 2px solid white;
    display: block;
    text-align: center;
    color: white;
}
.product-offer-input:focus{
    outline: none;
}
.header-product-offerFinishedTime{
    margin-top: 20px;
}
/*Products tamplate end*/

/*Detail tamplate start*/
.header-info-article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-product-name-article{
    margin-bottom: 20px;
}
.header-product-name{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
.header-product-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-pic-div{
    aspect-ratio: 1/1;
    width: 40vw;
}
.product-detail-info{
    width: 40vw;
}
.product-info-line{
    border-radius: 20px;
    width: 8px;
    background-color: orange;
    height: 500px;
}
.product-description-header{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}
.header-product-offerFinishedTime,
.header-product-offerCreateTime{
    text-align: center;
}
.header-offer{
    text-align: center;
}
.detail-product-h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}
.detail-product-offers-div{
    display: flex;
    justify-content: space-around;
}
.detail-product{
    margin-top: 50px;
    margin-bottom: 50px;
}
.offer-text{
    color: greenyellow;
}
.detail-offer-section-info{
    color: orange;
    font-size: 20px;
}
/*Detail tamplate end*/
/*Admin tamplate start*/
.option-screen{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.option-screen1{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.option-screen2{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.admin-panel-article{
    position: relative;
}
.second-option-button,
.first-option-button{
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
}
.first-option-button:hover,
.second-option-button:hover{
    color: orange;
}

.admin-teklif-tarihi-p,
.admin-teklif-tarihi-div,
.admin-teklif-deger-p,
.admin-teklif-deger-div,
.admin-teklif-resim-div,
.admin-teklif-urun-div,
.admin-teklif-kullanici-div,
.admin-teklif-kullanici-p,
.admin-teklif-no-div,
.admin-teklif-urun-p{
display: inline;
text-align: center;
}

.admin-teklif-screen{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.admin-teklif-screen1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.admin-no-and-pic{
    width: 15%;
}
.admin-no-and-pic,
.admin-new-time-and-submit{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-offer-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.admin-teklif-resim-img{
    width: 100px;
    height: 100px;
    display: inline;
    object-fit: cover;
}
.admin-teklif-no-p{
    color: orange;
}
.admin-teklif-header-p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 50px;
}
/*Admin tamplate end*/

@media only screen and (max-width: 900px) {
    .main-info-section{
        position: relative;
        
        width: 100%;
        height: 508px;
    }
    .products-category-section{
        width: 40%;
    }
    .products-section{
        width: 60%;
        text-align: center;
    }
    .products-template{
        display: inline-block;
        width: 40%;
        background-color: transparent;
    }
}
@media only screen and (max-width: 650px) {
    .main-info-section{
        position: relative;
        
        width: 100%;
        height: 508px;
    }
    .products-category-section{
        width: 100%;
    }
    .products-section{
        width: 100%;
        text-align: center;
    }
    .products-template{
        display: inline-block;
        width: 30%;
        background-color: transparent;
    }
    .products-template-h3{
        font-size: 3vw;
        color: white;
    }
    .main-info-div{

        flex-direction: column;
        justify-content: center;
        
    }
    .main-info-line{
        height: 3px;
        width: 50%;
        border-radius: 20px;
        background: orange;
        margin-bottom: 15px;
    }
    .main-info-p-first{
        width: 70%;
        text-align: center;
        color: white;
        font-size: 6vw;
        font-family: 'Poppins', sans-serif;
    }
    .main-info-p-second{
        width: 70%;
        text-align: center;
        color: white;
        font-size: 8vw;
        font-family: 'Poppins', sans-serif;
    }
}
@media only screen and (max-width: 450px) {
    .main-info-p-first{
        width: 70%;
        text-align: center;
        color: white;
        font-size: 8vw;
        font-family: 'Poppins', sans-serif;
    }
    .main-info-p-second{
        width: 70%;
        text-align: center;
        color: white;
        font-size: 10vw;
        font-family: 'Poppins', sans-serif;
    }
}